<!DOCTYPE html>
<html lang="so">
<head>
    <meta charset="UTF-8">
    <title>Maintenance</title>
    <style>
        body { background: #0f172a; color: white; text-align: center; padding: 50px; font-family: sans-serif; }
        iframe { margin-top: 20px; width: 90%; max-width: 500px; height: 300px; border-radius: 10px; }
    </style>
</head>
<body>
    <h1>🚧 Website Wuu Xiran Yahay</h1>
    <p>{{ setting.message }}</p>
    {% if setting.video_url %}
        <iframe src="{{ setting.video_url }}" frameborder="0" allowfullscreen></iframe>
    {% endif %}
</body>
</html>